{% extends "layout.html" %}
{% block body %}

<div class="row pt-5 ">
  <div class="col-md-7 mx-auto">
    <div class="card card-body">
      <legend>Enviar comandos</legend>
      <form action="{{ url_for('send') }}" method="post">

        <label for="unique_id" class="mt-4">Alias de la estación:</label>
        <select name="unique_id" class="btn btn-primary">
          {% for nodo in nodos %}
            <option value="{{ nodo.2 }}">{{ nodo.1 }}</option>
          {% endfor %}
        </select><br>
        
        <label for="comando" class="mt-4">Comando: </label>
        <input type="radio" id="destello" name="comando" value="destello" checked="yes"><!--el id es usado para el script-->
        <label for="destello">Destello</label>
        <input type="radio" id="setpoint" name="comando" value="setpoint"><!--el id es usado para el script-->
        <label for="setpoint">Setpoint</label><br>
        
        <div id="setpoint_input" style="display:none;">
            <label for="valor_setpoint" class="col-form-label mt-4">Valor del setpoint:</label>
            <input
              type="number"
              name="valor_setpoint"
              value="25.0"
              min="0" max="50" step="0.1"
            ><br>
        </div>
        
        <button type="submit" class="btn btn-primary mt-4">Enviar Comando</button>
        
        <script>
          document.addEventListener('DOMContentLoaded', function() {
              var setpointRadio = document.getElementById('setpoint');
              var destelloRadio = document.getElementById('destello');
              var setpointInput = document.getElementById('setpoint_input');
          
              setpointRadio.addEventListener('change', function() {
                  if (setpointRadio.checked) {
                      setpointInput.style.display = 'block';
                  }
              });
          
              destelloRadio.addEventListener('change', function() {
                  if (destelloRadio.checked) {
                      setpointInput.style.display = 'none';
                  }
              });
          });
        </script>
      </form>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-7 mx-auto">
    <div class="card card-body">
      <form action="{{url_for('add_node')}}" method="POST">
        <legend>Registrar nuevo nodo</legend>
        <div class="form-group">
          <label class="col-form-label mt-4">Alias del nodo</label>
          <input name="alias" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label class="col-form-label mt-4">ID único del nodo</label>
          <input name="unique_id" type="text" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary mt-4">Guardar</button>
      </form>
    </div>
  </div>
</div>

<div class="row pt-5 ">
  <div class="col-md-7 mx-auto">
    <table class="table table-hover table-default">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Alias</th>
          <th scope="col">MAC</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for nodo in nodos %}
        <tr>
          <td>{{nodo.0}}</td>
          <td>{{nodo.1}}</td>
          <td>{{nodo.2}}</td>
          <td>
            <a href="{{url_for('get_node',id=nodo.0)}}" class="btn btn-secondary">editar</a>
            <a href="{{url_for('delete_node',id=nodo.0)}}" class="btn btn-danger btn-borrar">borrar</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
