{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="col-md-7 mx-auto">
    <div class="card card-body">
      <form action="{{url_for('add_contact')}}" method="POST">
        <legend>Cargar contacto</legend>
        <div class="form-group">
          <label class="col-form-label mt-4" for="inputDefault">Nombre completo</label>
          <input type="text" class="form-control" id="inputDefault" data-ddg-inputtype="unknown" name="nombre">
        </div>
        <div class="form-group">
          <label class="col-form-label mt-4" for="tel">Teléfono</label>
          <input type="tel" class="form-control" id="tel" data-ddg-inputtype="unknown" name="tel">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1" class="form-label mt-4">Contraseña</label>
          <input name="email" type="password" class="form-control" id="exampleInputPassword1"
            data-ddg-inputtype="credentials.password">
        </div>
        <button type="submit" class="btn btn-primary mt-4">guardar</button>
      </form>
    </div>
  </div>
</div>
<div class="row pt-5 ">
  <div class="col-md-7 mx-auto">
    <table class="table table-hover table-default">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre completo</th>
          <th scope="col">Email</th>
          <th scope="col">teléfono</th>
          <th scope="col">acción</th>
        </tr>
      </thead>
      <tbody>
        {% for contacto in contactos %}
        <tr>
          <td>{{contacto.0}}</td>
          <td>{{contacto.1}}</td>
          <td>{{contacto.2}}</td>
          <td>{{contacto.3}}</td>
          <td>
            <a href="{{url_for('conseguir_contacto',id=contacto.0)}}" class="btn btn-secondary">editar</a>
            <a href="{{url_for('borrar_contacto',id=contacto.0)}}" class="btn btn-danger">borrar</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}