<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <title>FLASK CRUD 1.6</title>
  <!-- <link rel="stylesheet" href="https://bootswatch.com/5/cosmo/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
  {% with messages = get_flashed_messages() %} {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CRUD</a>
      {% if g.usuario %}
      <div class="d-flex">
        <div class="nav-item pe-3 pt-2">{{ g.usuario }}</div>
        <a href="{{url_for('logout')}}"
          class="btn btn-secondary my-2 my-sm-0" type="submit">Salir</a>
      </div>
      {% endif %}
    </div>
  </nav>

</head>

<body>
  <div class="container pt-4">
    {% block body %}
    {% endblock %}
  </div>
</body>

</html>